body{
    background-color:burlywood;
overflow-x: hidden;
}

.main{
    height: 125vh;
    width: 100%;
    display: flex;
    background: url(Img/main.jpg)center  ;
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center;
}

.iconWhatsapp{
    width: 40px;
    display: flex;
    justify-content: right;
    margin-top: 10;
    position: fixed;
    z-index: 100;
    bottom:  0;
    margin-bottom: 10px;
    cursor: pointer;
}

.line{
 height:40vh;
 width:.1vw;
 background-color:rgb(255, 255, 255);
    
   
   }

.custom-navbar{
display: flex;
justify-content: right;
margin-top: 10;
position: fixed;
z-index: 100;
right: 0;
}


.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;

    

}

.social-media-icons ul {
    list-style:none;
    text-align: center;


}

.social-media-icons{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.social-media-icons ul li {
    
    margin-right: 30px;
    margin-top: 10px;

}

.social-media-icons ul li a img {
    
    width: 60%;

}

#menu{
    width:20px;
    word-wrap: break-word;
    text-align:center;

    

}
#menu a{
    text-decoration: none;
    color:#FFFFFF;
}

/* MENU*/
#pagina{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.74);
    height: 100vh;
 
}
.logoMenu{
    width:  30%;
}
.logoMenu img{
    margin-left: 20px;

    width: 50%;
}
.contenido{
    display: flex;
    flex-direction: column;
    

}
.enlaces ul{
   color: #FFFFFF;
   text-decoration: none;

}
.enlaces ul li {

    list-style: none;
    margin: 10px ;
}
.enlaces ul li a{
    color: #FFFFFF;
    font-size:xx-large;
    text-decoration: none;

}
.encabezado{
    display: flex;
    align-items: center;
    width: 100%;
}
.menuClose{
    width: 70%;
}
#closeMenu{
    margin-right: 20px;
    display: flex;
    justify-content: flex-end;
}
.socialIcons{
    width: 100%;
    
}
.socialIcons ul{
    display: flex;

    
}

.socialIcons ul li{
    display: flex;

    justify-content: center;
    width: 100%;

list-style: none;   
}
.munuIcons{
    width: 100%;
}

.contenidoGeneral{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    width: 100%;
    height: 100vh;
}
.logo{
    width: 200px;
    display: flex;
    margin-left: 25px;
    position: absolute;
}


.contentCentral{
    width: 100%;
    height: 40%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.466);

}

.slogan{
    font-family: 'Source Sans Pro';
font-style: normal;
    border: 2px solid #FFFFFF;
filter: drop-shadow(2px 4px 8px #000000);
border-radius: 37px;
padding: 15px;
color: #FFFFFF;
font-size: x-large;


}
.slogan:hover{
    background-color: #ffffff44;
    color: #000000;
}

.enlaceSlogan{
    text-decoration: none;

}

.contentCentralMarca{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.marca{
    font-family: 'Source Sans Pro';
font-style: normal;
    font-size: xx-large;
    margin-bottom: 20px;
    color: #FFFFFF;
    

}

.logoCentral{
    display: flex;
    justify-content: center;
    align-items: center;
width: 342px;
height: 338px;

}

.contenidoMain{
    display: flex;
    justify-content: center;
    align-items: center;
}




.primeraSeccion{
    background: url(Img/primeraSeccion.jpg);
    width: 100%;
    height:180vh;
        border-radius: 115px;
        box-shadow: 0px -9px 24px 20px rgba(0, 0, 0, 0.33);
        top: 1000px;
        z-index:1;
        position: absolute; 
         top: 110vh;
}

.tituloPrimeraSeccion{
    width: 90%;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    padding-top: 15px;


}
.tituloPrimeraSeccion h2{
    font-family: 'Source Sans Pro';
font-style: italic;
font-weight: 700;
font-size: 125px;
line-height: 90%;
display: flex;
align-items: center;
justify-content: center;
letter-spacing: 0.04em;
text-indent: 20px;
font-feature-settings: 'salt' on, 'kern' off;
-webkit-text-stroke: 2px #E46C00;
  color: transparent; 

}

.tituloPrimeraSeccion h2 span{
   
  color: #E46C00; 

}

.contProcesoGral{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contProceso{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;

}

.procesoCont{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;

}
.procesoCont h2{
    font-family: 'Source Sans Pro';
font-style: italic;
    font-size: xx-large;
}
.textProceso{
    font-family: 'Source Sans Pro';
font-style: normal;
    width: 75%;
    height: 40vh;
    border-bottom: solid ;
    border-left: solid;
    border-right: solid;
    border-color: #FFFFFF;
    border-radius: 25px;
    margin: 5px;
    font-size: large;
    padding: 50px;
    display: flex;
    align-items: center;

}


/*SEGUNDA SECCION*/

.segundaSeccion{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background: url(Img/segundaSeccion.png)center fixed ;
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center;
    width: 100%;
    height: 130vh;
    position: relative;
    top:140vh;
}

.contSegundaSeccion{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
    background-color: #0000005e;
    margin-top: 100px;
}
.contTextoSegundaSeccion{
    width: 80%;
    height: 50vh;
    border-bottom: solid ;

    border-top: solid;
    border-color: #FFFFFF;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textoSegundaSeccion{
    font-family: 'Source Sans Pro';
font-style: normal;
    width: 80%;
    font-size:xx-large;
    color: #FFFFFF;

}




/*TERCERA SECCION*/



.terceraSeccion{
    background:url(Img/mountains-clouds-forest-fog.jpg)center fixed ;
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center;
    width: 100%;
    height: 90vh;
    position: relative;
    top:140vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contTextoTerceraSeccion{
    text-align: center;
}

.textoOscuro{
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 700;
    font-size: 125px;
    line-height: 90%;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    letter-spacing: 0.04em;
    text-indent: 20px;
    font-feature-settings: 'salt' on, 'kern' off;
    -webkit-text-stroke: 2px #FFFFFF;
    color: #FFFFFF;
}

.textoClaro{
    font-family: 'Source Sans Pro';
font-style: italic;
font-weight: 700;
font-size: 125px;
line-height: 90%;
display: flex;
align-items: center;
justify-content: flex-end;
letter-spacing: 0.04em;
text-indent: 20px;
font-feature-settings: 'salt' on, 'kern' off;
-webkit-text-stroke: 2px #FFFFFF;
  color: transparent; 
}

.textoTerceraSeccion{
    font-family: 'Source Sans Pro';
font-style: italic;
    margin-top: 50px;
    color: #FFFFFF;
}




















/* CUARTA SECCION*/




.cuartaSeccion{
    
    background:url(Img/cuartaSeccion.png)center  ;
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center;
   
    width: 100%;
    position: relative;
    top:140vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.tibu{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-left: 100px;

}

.contenidoCuartaSeccion{
    margin: 0 auto;
    margin-top: 25px;
    width: 75%;
   display: flex;
   flex-direction: column;
    

}
.procesoMon{
    display: flex;
    
}

.procesoContMon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    width: 40%;
    margin-bottom: 50px;

}
.textProcesoMon h2{
    font-family: 'Source Sans Pro';
font-style: italic;
    font-size: 3rem;
}
.textProcesoMon p{
    font-family: 'Source Sans Pro';
font-style: normal;
    font-size: 3rem;
}
.textProcesoMon{
    border: solid ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-color: #FFFFFF;
    border-radius: 25px;
    margin: 5px;
    padding: 10px;
    margin-bottom: 25px;
}
.procesoContMon p{
    font-size: 20px;
    text-align: center;
}

.procesoContMon2{

display: flex;
align-items: flex-end;
justify-content: flex-end;
color: #FFFFFF;
    width: 40%;
    z-index:1;
}

.procesoMon2{
    display: flex;
    justify-content: flex-end;
}

.procesoContMon2 p{
    font-size: 20px;
    text-align: center;
}



.hola{
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    border-style: solid;
 
}





/* quinta seccion*/


.quintaSeccion{
    
    background: url(Img/quintaSeccion.svg);
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center;
    height: 100vh;
    width: 100%;
    position: relative;
    top:140vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* secta seccion*/

.sectaSeccion{
    
    background: url(Img/sectaSeccion.svg);
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center;
    height: 150vh;
    width: 100%;
    position: relative;
    top:130vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 75px;
}
.contPersonaGral{
    width: 80%;
    margin-bottom: 100px;
}
.imgPersona img{
 width: 250px;
}

.textPersona{
    font-family: 'Source Sans Pro';
font-style: normal;
    font-size:larger;
    color: #FFFFFF;
    margin: 25px;
    font-family: 'Source Sans Pro';
font-style: normal;
}
.contPersona{
    width: 90%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}














.footer{
    background: url(Img/footer.svg);
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center;
    height: 130vh;
    width: 100%;
    position: relative;
    top:100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    

}
.logoFooter {
    width: 100%;
}
.logoFooter img{
    width: 100%;
}

.contFooter{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-bottom: 150px;


}

.contenidoContacto{
    font-family: 'Source Sans Pro';
font-style: normal;
    width: 100%;
    margin-bottom: 25px;
    color: #FFFFFF;
    
}
.contenidoContacto h5{
    
    text-align: center;

}
.lineFooterContacto{
 
    width: 100%;
    border: 1px solid #FFFFFF;
    margin-bottom: 25px;

}
.footerContacto{
    margin: auto;
    width: 50%;
}
.footerContacto li{
    list-style: none;
    padding: 10px;
    
}

.footerContacto li img{
    width: 25%;
    padding: 5px;
    
}



.lineFooter{
    margin: 0 auto;
    width: 90%;
    border: 1px solid #FFFFFF;
    
}

.iconsFooter{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;


}
.iconsFooter ul li{
margin: 10px;


}


.iconsFooter ul{
    display: flex;
    list-style:none;


}
@keyframes go-bottom-top {       
    from { bottom: 0px;}             
    to { bottom:  calc(10% - 50px); } 
  }

  .flechaArriba {
    animation: go-bottom-top 1s infinite alternate;
    position: absolute;
    cursor: pointer;
    z-index: 100;
    left:   0;
    margin-left: 50px;
    margin-bottom: 50px;

display: flex;
justify-content: flex-start;  
align-items: flex-start;  
   

}

.iconWhatsapp{
    animation: go-bottom-top 3s infinite alternate;

}



.slogan {
    position: relative;
    animation-name: moveToRight;
    animation-duration: 2s;
  }

  @keyframes moveToRight {
  0% {
      opacity: 0;
      left: -10000px;
  }
  100% {
      opacity: 1;
      left: 0;
  }
}



/* tablet*/

@media (min-width: 768px) and (max-width: 1024px) {
    .contProcesoGral{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .contProceso{
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
    
    }
    
    .procesoCont{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #FFFFFF;
    
    }
    .procesoCont h2{
        font-size: 35px;
    }
    .textProceso{
        width:90%;
        height: 30vh;
        border-bottom: solid ;
        border-left: solid;
        border-right: solid;
        border-color: #FFFFFF;
        border-radius: 25px;
        margin: 5px;
        font-size: 15px;
        padding: 25px;
    }

    .textPersona p{
        font-size: small;
        padding: 5px;
    }

    .textPersona {
        width:100%;
        font-size: small;
        padding: 5px;
    }

    .imgPersona img {
        width:200%;
    }


    .imgProceso img{
        width: 85%;
    }

    .custom-navbar{
        display: none;
    }

    .primeraSeccion{
        
        height:150vh;
            
    }
    .segundaSeccion{
        
        top:110vh;
    }
    .tituloPrimeraSeccion h2{
      
        display: none;
       
         
         }

         #tituloPrimeraSeccionMobile{
            display: flex !important
            ;
            width: 100%;
            font-family: 'Source Sans Pro';
            font-style: italic;
            font-size: 60px;
            line-height: 90%;
            display: flex;
            align-items: center;
            justify-content: center;
            letter-spacing: 0.04em;
            text-indent: 10px;
            font-feature-settings: 'salt' on, 'kern' off;
            -webkit-text-stroke: 2px #E46C00;
              color: transparent; 
              padding: 10px;
                    }
            
                    #tituloPrimeraSeccionMobile p {
                        color:#E46C00;
                    }

    .terceraSeccion{
       
        top:110vh;
        
    }

    .cuartaSeccion{
        top: 110vh;
    }

    .contTextoSegundaSeccion {
    width: 80%;
    height: 30vh;
    font-size: 20px;
    
}
    .contTextoSegundaSeccion p{
        
        font-size: 20px;
        
    }


    .textoOscuro{
        
        font-size: xx-large;
        
    }
    
    .textoClaro{
        
    font-size: xx-large;
   
    }
    
    .textoTerceraSeccion{
        font-size: 25px;
    }   

    
    
    
  }

  @media (min-width: 481px) and (max-width: 767px) {
    .slogan{
        
    padding: 10px;
    
    }
    .marca{
        font-size: 15px;
        text-align: center;

        
    
    }
    .logoCentral{
        
    width: 200px;
    height: 200px;
    
    }

    .primeraSeccion{
        
        height:120vh;
            
    }
    .segundaSeccion{
        
        top:90vh;
    }
    .terceraSeccion{
       
        top:90vh;
        
    }

    .cuartaSeccion{
     
        
        top:90vh;
        
        
    }

    .quintaSeccion{
    
        height: 120vh;
        
        top:90vh;
    }
   
    .sectaSeccion{
    
        height: 100vh;
        
        top:90vh;
    }

    .footer{
    
        height: 100vh;
        
        top:90vh;
    }
    .procesoCont h2{
        font-size: 35px;
    }
    .textProceso{
        height: 20vh;

        font-size: 10px;
        padding: 25px;
    }

    .imgProceso img{
        width: 85%;
    }
    .contTextoSegundaSeccion p{
        
        font-size: 15px;
        
    }

    .tituloPrimeraSeccion h2{
      
   display: none;
  
    
    }


    #tituloPrimeraSeccionMobile{
        display: flex !important
        ;
        width: 100%;
        font-family: 'Source Sans Pro';
        font-style: italic;
        font-size: 60px;
        line-height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 0.04em;
        text-indent: 10px;
        font-feature-settings: 'salt' on, 'kern' off;
        -webkit-text-stroke: 2px #E46C00;
          color: transparent; 
          padding: 10px;
                }
        
                #tituloPrimeraSeccionMobile p {
                    color:#E46C00;
                }

    .textoOscuro{
        
        font-size: 75px;
        
    }
    
    .textoClaro{
        
    font-size: 75px;
   
    }
    
    .textoTerceraSeccion{
        font-size: 20px;
    }    
    .monta{
       
        
        bottom:69vh;
    
       
    
    
    }
    .textProcesoMon img{
        width: 30px;
    }
    .tibu{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-left: 100px;
    }

    .tibu img{
        width: 40px;

    }
    
    .contenidoCuartaSeccion{
        margin: 0 auto;
        margin-top: 25px;
        width: 75%;
       display: flex;
       flex-direction: column;
        
    
    }
    .procesoMon{
        display: flex;
        
    }
    
    .procesoContMon{
        
        width: 40%;
    
    }
    .procesoContMon h2{
        font-size: 15px;
    }
 
    .procesoContMon p{
        font-size: 10px;
        text-align: center;
    }
    
    .procesoContMon2{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    color: #FFFFFF;
        width: 40%;
        z-index:1;
    }
    
    .procesoMon2{
        display: flex;
        justify-content: flex-end;
    }
    
    .procesoContMon2 p{
        font-size: 10px;
        text-align: center;
    }

    .textoClaro{
        font-size: xx-large;
    }

    .textoOscuro{
        font-size: xx-large;
    }
    
    .textPersona p{
        font-size:x-large;
        padding: 5px;
    }

    .textPersona {
        width:80%;
        font-size: small;
        padding: 5px;
    }

    .imgPersona img {
        width:200%;
    }
  }


  @media (min-width: 320px) and (max-width: 480px) {
.logo{
    
        width: 100px;
    
    
}

    .slogan{
        
        padding: 10px;
        
        }
        .marca{
            font-size: 10px;
            text-align: center;
    
            
        
        }
        .logoCentral{
            
        width: 180px;
        height: 180px;
        
        }
    .primeraSeccion{
        height: 120vh;
        

    }

    .segundaSeccion{
        
        top:90vh;
    }
    .terceraSeccion{
       
        top:90vh;
        
    }

    .contProcesoGral{
        display: flex;
       
       
    }
    
    .tituloPrimeraSeccion h2{
      
       display: none;
      
        
        }
        #tituloPrimeraSeccionMobile{
display: flex !important
;
width: 100%;
font-family: 'Source Sans Pro';
font-style: italic;
font-size: xx-large;
line-height: 90%;
display: flex;
align-items: center;
justify-content: center;
letter-spacing: 0.04em;
text-indent: 10px;
font-feature-settings: 'salt' on, 'kern' off;
-webkit-text-stroke: 2px #E46C00;
  color: transparent; 
  padding: 10px;
        }

        #tituloPrimeraSeccionMobile p {
            color:#E46C00;
        }

    .procesoCont h2{
        font-size: 25px;
    }
    .textProceso{
        width:90%;
        height: 30vh;

        border-bottom: solid ;
        border-left: solid;
        border-right: solid;
        border-color: #FFFFFF;
        border-radius: 25px;
        margin: 5px;
        font-size: 10px;
        padding: 15px;
    }
    .textProceso p{
        font-size: 10px;
    }

    .imgProceso img{
        width: 85%;
    }
    .contTextoSegundaSeccion p{
        
        font-size: small;
        
    }

  

    .textoOscuro{
        
        font-size: 50px;
        
    }
    
    .textoClaro{
        
    font-size: 50px;
   
    }
    
    .textoTerceraSeccion{
        font-size: 25px;
    }   
    .cuartaSeccion{
        height: 100vh;
        
        top:90vh;
        
        
    }
    
    
    .monta{
       
        
        bottom:69vh;
    
       
    
    
    }
    .textProcesoMon img{
        width: 30px;
    }
    .tibu{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-left: 100px;
    }

    .tibu img{
        width: 40px;

    }
    
    .contenidoCuartaSeccion{
        margin: 0 auto;
        margin-top: 25px;
        width: 75%;
       display: flex;
       flex-direction: column;
        
    
    }
    .procesoMon{
        display: flex;
        
    }
    
    .procesoContMon{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        width: 75%;
    
    }
    .procesoContMon h2{
        font-size: 15px;
    }
    .textProcesoMon{
        border: solid ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-color: #FFFFFF;
        border-radius: 25px;
        margin: 5px;
        padding: 5px;
    }
    .procesoContMon p{
        font-size: 10px;
        text-align: center;
    }
    
    .procesoContMon2{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    color: #FFFFFF;
        width: 40%;
        z-index:1;
    }
    
    .procesoMon2{
        display: flex;
        justify-content: flex-end;
        margin-bottom: 50px;

    }
    
    .procesoContMon2 p{
        font-size: 10px;
        text-align: center;
    }
    .quintaSeccion{
        height: 80vh;
        
        top:80vh;
    }
    
    .sectaSeccion{
        height: 150vh;
        
        top:70vh;

    }
    .footer{
        height: 130vh;
        
        top:50vh;
    }

    .social-media-icons ul li a img {
    
        width: 40%;
    
    }
    .contenidoMain{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .textPersona p{
        font-size: 10px;
    }

    .textPersona {
        width:80%;
    }

    .imgPersona img {
        width:50%;
    }
    .imgPersona {
text-align: center;}

    .contPersona{
        margin-top: 90px;
        width: 100%;
        display: flex;
        flex-direction: column-reverse !important;
        justify-content: center;
        align-items: center;
        ;
    }
    .contPersonaGral{
        width: 90%;
        margin-bottom: 10px;
    }  
    .personaCont{
        width: 100%;
    }

    .contTextoTerceraSeccion{
        width: 80%;

    }

    .contTextoTerceraSeccion h2{
        font-size: large;

    }

    .contTextoTerceraSeccion h4{
        font-size: large;

    }
}
