body{
overflow-x: hidden;
}

.main{
    height: 125vh;
    width: 100%;
    display: flex;
    background: url(Img/main.jpg)center fixed ;
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center;
}

.iconWhatsapp{
    width: 50px;
    display: flex;
    justify-content: right;
    margin-top: 10;
    position: fixed;
    z-index: 100;
    bottom:  0;
    margin-bottom: 10px;
    cursor: pointer;
}

.line{
 height:40vh;
 width:.1vw;
 background-color:rgb(255, 255, 255);
    
   
   }

.custom-navbar{
display: flex;
justify-content: right;
margin-top: 10;
position: fixed;
z-index: 100;
right: 0;
}


.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;

    

}

.social-media-icons ul {
    list-style:none;
    text-align: center;


}

.social-media-icons{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.social-media-icons ul li {
    
    margin-right: 25px;
    margin-top: 10px;

}

#menu{
    width:20px;
    word-wrap: break-word;
    text-align:center;

    

}
#menu a{
    text-decoration: none;
    color:#FFFFFF;
}


#pagina{
    background-color: aqua;
    height: 100vh;
    margin: auto;
}

.contenido{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.encabezado{
    
    display: flex;
    margin: 2rem;
}

#closeMenu{
    
    margin-left: 150px;
}
.socialIcons{
    display: flex;
    justify-content:end;
    align-items: end;
}

.contenidoGeneral{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 60%;
    height: 100vh;
}
.logo{
    width: 150px;
    display: flex;
    margin-left: 15px;
    position: absolute;
}


.contentCentral{
    width: 100%;
    height: 40%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.466);

}

.slogan{
    border: 2px solid #FFFFFF;
filter: drop-shadow(2px 4px 8px #000000);
border-radius: 37px;
padding: 15px;
color: #FFFFFF;

}
.slogan:hover{
    background-color: #ffffff44;
    color: #000000;
}

.enlaceSlogan{
    text-decoration: none;
}

.contentCentralMarca{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.marca{
    font-size: 20px;
    margin-bottom: 20px;
    color: #FFFFFF;
    

}

.logoCentral{
    display: flex;
    justify-content: center;
    align-items: center;
width: 342px;
height: 338px;

}

.contenidoMain{
    display: flex;
    justify-content: center;
    align-items: center;
}




.primeraSeccion{
    background: url(Img/primeraSeccion.jpg);
    width: 100%;
    height:180vh;
        border-radius: 115px;
        box-shadow: 0px -9px 24px 20px rgba(0, 0, 0, 0.33);
        top: 1000px;
        z-index:1;
        position: absolute; 
         top: 110vh;
}

.tituloPrimeraSeccion{
    width: 100%;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    padding-top: 15px;


}
.tituloPrimeraSeccion h2{
    font-family: 'Source Sans Pro';
font-style: italic;
font-weight: 700;
font-size: 125px;
line-height: 90%;
display: flex;
align-items: center;
justify-content: center;
letter-spacing: 0.04em;
text-indent: 20px;
font-feature-settings: 'salt' on, 'kern' off;
-webkit-text-stroke: 2px #E46C00;
  color: transparent; 

}

.tituloPrimeraSeccion h2 span{
   
  color: #E46C00; 

}

.contProcesoGral{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contProceso{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;

}

.procesoCont{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;

}
.procesoCont h2{
    font-size: 50px;
}
.textProceso{
    width: 75%;
    border-bottom: solid ;
    border-left: solid;
    border-right: solid;
    border-color: #FFFFFF;
    border-radius: 25px;
    margin: 5px;
    font-size: 20px;
    padding: 50px;
}


/*SEGUNDA SECCION*/

.segundaSeccion{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background: url(Img/segundaSeccion.png)center fixed ;
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center;
    width: 100%;
    height: 130vh;
    position: relative;
    top:140vh;
}

.contSegundaSeccion{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
    background-color: #0000005e;
    margin-top: 100px;
}
.contTextoSegundaSeccion{
    width: 80%;
    height: 50vh;
    border-bottom: solid ;

    border-top: solid;
    border-color: #FFFFFF;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textoSegundaSeccion{
    width: 80%;
    font-size:xx-large;
    color: #FFFFFF;

}




/*TERCERA SECCION*/



.terceraSeccion{
    background:url(Img/mountains-clouds-forest-fog.jpg)center fixed ;
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center;
    width: 100%;
    height: 90vh;
    position: relative;
    top:140vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contTextoTerceraSeccion{
    text-align: center;
}

.textoOscuro{
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 700;
    font-size: 125px;
    line-height: 90%;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    letter-spacing: 0.04em;
    text-indent: 20px;
    font-feature-settings: 'salt' on, 'kern' off;
    -webkit-text-stroke: 2px #FFFFFF;
    color: #FFFFFF;
}

.textoClaro{
    font-family: 'Source Sans Pro';
font-style: italic;
font-weight: 700;
font-size: 125px;
line-height: 90%;
display: flex;
align-items: center;
justify-content: flex-end;
letter-spacing: 0.04em;
text-indent: 20px;
font-feature-settings: 'salt' on, 'kern' off;
-webkit-text-stroke: 2px #FFFFFF;
  color: transparent; 
}

.textoTerceraSeccion{
    margin-top: 50px;
    color: #FFFFFF;
}




















/* CUARTA SECCION*/




.cuartaSeccion{
    
    background:url(Img/fondo.svg)center fixed ;
    background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center;
   
    width: 100%;
    height: 150vh;
    position: relative;
    top:140vh;
    
    
}


.monta{
    width: 100%;
    height: 100vh;
    position: relative;
display: flex;
    bottom:89vh;

    background: url(Img/2.png)center  ;
    background-size:     cover;                     
    background-repeat:   no-repeat;


}
.tibu{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-left: 100px;

}

.contenidoCuartaSeccion{
    margin: 0 auto;
    margin-top: 25px;
    width: 75%;
   display: flex;
   flex-direction: column;
    

}
.procesoMon{
    display: flex;
    
}

.procesoContMon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    width: 40%;

}
.procesoContMon h2{
    font-size: 40px;
}
.textProcesoMon{
    border: solid ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-color: #FFFFFF;
    border-radius: 25px;
    margin: 5px;
    padding: 10px;
}
.procesoContMon p{
    font-size: 20px;
    text-align: center;
}

.procesoContMon2{
display: flex;
align-items: flex-end;
justify-content: flex-end;
color: #FFFFFF;
    width: 40%;
    z-index:1;
}

.procesoMon2{
    display: flex;
    justify-content: flex-end;
}

.procesoContMon2 p{
    font-size: 20px;
    text-align: center;
}



.hola{
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    border-style: solid;
 
}

.cuartaSeccionTexto p{
    text-align: center;
}

.contColDiseñadores{
    display: flex;
    justify-content: center;
    align-items: center;
        flex-wrap: nowrap;

   height: 70vh;
}
.textDiseñadores{
    width: 90%;
    display: flex;
    border-style: solid;
    height: 100px;
}

.footer{
    background-color:crimson;
    width: 100%;
    height: 50vh;

}

.contFooter{
    
    height: 25vh;
width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    
}


.logoFooter{
    width: 30%;
    height: 20vh;
    border-style: solid;

}


.logoFooter{
   text-align: center;
   align-items: center;

}

.lineFooter{
    margin: auto;
    width: 90%;
    border-style: solid;
}

.iconsFooter{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.iconFooter  {
    width: 20px;
    margin-left: 50px;

}

.iconsFooter ul{
    display: flex;
    list-style:none;

}
@keyframes go-bottom-top {       
    from { bottom: 0px; }             
    to { bottom:  calc(10% - 50px); } 
  }

  .flechaArriba {
    animation: go-bottom-top 1s infinite alternate;
    

    position: relative;
    width: 50px;
    height: 20px;
    
    margin-left: 15px;

   

}

.iconWhatsapp{
    animation: go-bottom-top 3s infinite alternate;

}



.slogan {
    position: relative;
    animation-name: moveToRight;
    animation-duration: 2s;
  }

  @keyframes moveToRight {
  0% {
      opacity: 0;
      left: -10000px;
  }
  100% {
      opacity: 1;
      left: 0;
  }
}



/* tablet*/

@media (min-width: 768px) and (max-width: 1024px) {
    .contProcesoGral{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .contProceso{
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
    
    }
    
    .procesoCont{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #FFFFFF;
    
    }
    .procesoCont h2{
        font-size: 35px;
    }
    .textProceso{
        width:90%;
        border-bottom: solid ;
        border-left: solid;
        border-right: solid;
        border-color: #FFFFFF;
        border-radius: 25px;
        margin: 5px;
        font-size: 15px;
        padding: 25px;
    }

    .imgProceso img{
        width: 85%;
    }

    .custom-navbar{
        display: none;
    }

    .primeraSeccion{
        
        height:150vh;
            
    }
    .segundaSeccion{
        
        top:110vh;
    }

    .terceraSeccion{
       
        top:110vh;
        
    }

    .cuartaSeccion{
        top: 110vh;
    }

    .contTextoSegundaSeccion {
    width: 80%;
    height: 30vh;
    font-size: 20px;
    
}
    .contTextoSegundaSeccion p{
        
        font-size: 20px;
        
    }


    .textoOscuro{
        
        font-size: 100px;
        
    }
    
    .textoClaro{
        
    font-size: 100px;
   
    }
    
    .textoTerceraSeccion{
        font-size: 25px;
    }   
    
  }

  @media (min-width: 481px) and (max-width: 767px) {
    .slogan{
        
    padding: 10px;
    
    }
    .marca{
        font-size: 15px;
        text-align: center;

        
    
    }
    .logoCentral{
        
    width: 200px;
    height: 200px;
    
    }

    .primeraSeccion{
        
        height:120vh;
            
    }
    .segundaSeccion{
        
        top:90vh;
    }
    .terceraSeccion{
       
        top:90vh;
        
    }
    .procesoCont h2{
        font-size: 35px;
    }
    .textProceso{
        
        font-size: 10px;
        padding: 25px;
    }

    .imgProceso img{
        width: 85%;
    }
    .contTextoSegundaSeccion p{
        
        font-size: 15px;
        
    }

    .tituloPrimeraSeccion h2{
      
    font-size: 75px;
  
    
    }

    .textoOscuro{
        
        font-size: 75px;
        
    }
    
    .textoClaro{
        
    font-size: 75px;
   
    }
    
    .textoTerceraSeccion{
        font-size: 20px;
    }   
  }


  @media (min-width: 320px) and (max-width: 480px) {
  
    .procesoCont h2{
        font-size: 35px;
    }
    .textProceso{
        width:90%;
        border-bottom: solid ;
        border-left: solid;
        border-right: solid;
        border-color: #FFFFFF;
        border-radius: 25px;
        margin: 5px;
        font-size: 10px;
        padding: 25px;
    }

    .imgProceso img{
        width: 85%;
    }
    .contTextoSegundaSeccion p{
        
        font-size: 15px;
        
    }

    .tituloPrimeraSeccion h2{
       
    font-size: 75px;
   
    
    }

    .textoOscuro{
        
        font-size: 50px;
        
    }
    
    .textoClaro{
        
    font-size: 100px;
   
    }
    
    .textoTerceraSeccion{
        font-size: 25px;
    }   
    
  }