body{
background-color: rgba(0, 0, 0, 0.349);
}

.main{
    height: 100vh;
    width: 100%;
    display: flex;
}

.iconWhatsapp{
    width: 50px;
    display: flex;
    justify-content: right;
    margin-top: 10;
    position: fixed;
    z-index: 100;
    bottom:  0;
    margin-bottom: 10px;
    cursor: pointer;
}

.line{
 height:40vh;
 width:.1vw;
 background-color:rgb(255, 255, 255);
    
   
   }

.custom-navbar{
display: flex;
justify-content: right;
margin-top: 10;
position: fixed;
z-index: 100;
right: 0;
}


.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;

    

}

.social-media-icons ul {
    list-style:none;
    text-align: center;


}

.social-media-icons{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.social-media-icons ul li {
    
    margin-right: 25px;
    margin-top: 10px;

}

#menu{
    width:20px;
    word-wrap: break-word;
    text-align:center;

    

}
#menu a{
    text-decoration: none;
    color: black;
}


#pagina{
    background-color: aqua;
    height: 100vh;
    margin: auto;
}

.contenido{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.encabezado{
    
    display: flex;
    margin: 2rem;
}

#closeMenu{
    
    margin-left: 150px;
}
.socialIcons{
    display: flex;
    justify-content:end;
    align-items: end;
}

.contenidoGeneral{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 60%;
    height: 100vh;
}
.logo{
    width: 15%;
    display: flex;
    margin-top: 15px;
    margin-left: 15px;
}


.contentCentral{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.slogan{
    width: 75%;
}

.contentCentralMarca{

    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.marca{
    font-size: 30px;
    margin-bottom: 20px;
}

.logoCentral{
    font-size: 50px;
}






.primeraSeccion{
    background-color: blue;
    width: 100%;
    height: 100vh;
}

.tituloPrimeraSeccion{
    width: 50%;
    text-align: center;
    padding-top: 10px;

}

.productos{
    display: flex;
    justify-content:center;
    flex-flow: wrap;
    align-items: center;
    width: 100%;
    height: 80vh;
}

.producto{
    width: 25%;
    height: 25vh;
    border-style: solid;
    margin: 5px;
    
}

.segundaSeccion{
    background-color: brown;
    width: 100%;
    height: 100vh;
}

.tituloSegundaSeccion {
    width: 50%;
    text-align: center;
    padding-top: 10px;

}
.contProcesoGral{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contProceso{
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}
.textProceso{
    width: 50%;
    border-style: solid;
    margin: 5px;
}
.terceraSeccion{
    background-color:chocolate;
    width: 100%;
    height: 100vh;
}

.tituloTerceraSeccion{
    width: 50%;
    text-align: center;
    padding-top: 10px;
}

.cuartaSeccion{
    background-color:darkslateblue;
    width: 100%;
    height: 100vh;
}
.tituloCuartaSeccion{
    width: 50%;
    text-align: center;
    padding-top: 10px;
}

.cuartaSeccionTexto{
    width: 80%;
    border-style: solid;
 margin: auto;
 margin-top: 25px ;
}

.cuartaSeccionTexto p{
    text-align: center;
}

.contColDiseñadores{
    display: flex;
    justify-content: center;
    align-items: center;
   height: 75vh;
}

.footer{
    background-color:aliceblue;
    width: 100%;
    height: 50vh;

}